{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Real Estate Aggregator</title>

        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">{{ title }}</h1>
                        <p class="lead text-body-secondary">{{ description }}</p>
                        <div class="d-flex justify-content-center">
                            <form method="post" action="{% url 'run_scraper' %}" class="me-2">
                                {% csrf_token %}
                                <button id="run-scraper" type="submit" class="btn btn-primary my-2"
                                    data-home-url="{% url 'home' %}" data-run-url="{% url 'run_scraper' %}">
                                    Run scraper
                                </button>
                            </form>
                            <a href="{% url 'add_property' %}" class="btn btn-secondary my-2">Add Property</a>
                        </div>
                        <div id="loader" style="display:none; margin-top:20px;">
                            <img src="{% static 'img/loading.gif' %}" width="80">
                            <p>Loading...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="album py-5 bg-body-tertiary">
                <div class="container text-center">
                    {% if properties %}
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            {% for property in properties %}
                                <div class="col">
                                    <div class="card shadow-sm h-100">
                                        <img src="{% if property.image_url %}{{ property.image_url }}{% else %}{% static 'img/default-image.jpg' %}{% endif %}" alt="{{ property.title }}" class="bd-placeholder-img card-img-top card-image">

                                        <div class="card-body d-flex flex-column justify-content-between">
                                            <h5 class="card-title">{{ property.title }}</h5>

                                            <div class="price">{{ property.price }}</div>
                                            <div class="address">{{ property.address }}</div>
                                            <p class="card-text">{{ property.description }}</p>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="{{ property.url }}" target="_blank" role="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                <div class="btn-group">
                                                    <a href="{% url 'update_property' property.id %}" role="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                                    <button href="{% url 'delete_property' property.id %}" role="button" class="btn btn-sm btn-outline-secondary"
                                                            data-bs-toggle="modal" data-bs-target="#deleteModal{{ property.id }}">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% include 'delete_property_modal.html' %}
                            {% endfor %}
                        </div>

                        {% include 'pagination.html' %}
                    {% else %}
                        <span class="text-body-secondary">HERE IS NO PROPERTY YET</span>
                    {% endif %}
                </div>
            </div>
        </main>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/run_scraper.js' %}"></script>

    </body>
</html>