<nav class="mt-4">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not records.has_previous %}disabled{% endif %}">
            <a class="page-link"
               {% if records.has_previous %}
                   href="?page={{ records.previous_page_number }}"
               {% else %}
                   href="#"
               {% endif %} aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page_number in records.paginator.page_range %}
            {% if page_number == records.number  %}
                <li class="page-item"><p class="page-link text-body-secondary">{{ page_number }}</p></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if not records.has_next %}disabled{% endif %}">
            <a class="page-link"
               {% if records.has_next %}
                   href="?page={{ records.next_page_number }}"
               {% else %}
                   href="#"
               {% endif %} aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>