SECRET_KEY = 'django-insecure-+#!a-^mo^0$vx+()n+!5l5k6ek8k0a-t6xg9a!uc#rtnq^z)&9'

DEBUG = "True"
REDIS_HOST = "redis"

CELERY_BROKER_URL = "redis://redis:6379/0"

# Django
DB_NAME=scraper_db
DB_USER=scraper
DB_PASSWORD=scraper
DB_HOST=db
DB_PORT=3306

# MySQL init
MYSQL_DATABASE=scraper_db
MYSQL_USER=scraper
MYSQL_PASSWORD=scraper
MYSQL_ROOT_PASSWORD=root
